<div class = "left-bar">
  <div class = "header">
    <div class = "header__user-name">
      test
    </div>
  </div>
  <table class= "priority">
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon01">
      </th>
      <th class= "priority__list-name">
        重要・緊急
      </th>
      <th class= "priority__list-count">
        1
      </th>
      <th class= "priority__list-rate">
        40&#037;
      </th>
    </tr>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon02">
      </th>
      <th class= "priority__list-name">
        重要・緊急ではない
      </th>
      <th class= "priority__list-count">
        2
      </th>
      <th class= "priority__list-rate">
        30&#037;
      </th>
    </tr>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon03">
      </th>
      <th class= "priority__list-name">
        重要ではない・緊急
      </th>
      <th class= "priority__list-count">
        3
      </th>
      <th class= "priority__list-rate">
        20&#037;
      </th>
    </tr>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon04">
      </th>
      <th class= "priority__list-name">
        重要ではない・緊急ではない
      </th>
      <th class= "priority__list-count">
        4
      </th>
      <th class= "priority__list-rate">
        10&#037;
    </th>
    <tr class= "priority__list">
      <th class= "priority__list-star">
        <i class="fas fa-star icon05">
      </th>
      <th class= "priority__list-name">
        未設定
      </th>
      <th class= "priority__list-count">
        0
      </th>
      <th class= "priority__list-rate">
        0&#037;
    </th>
  </table>
</div>