<div class = "right-bar">
  <div class = "task__edit">
    <%= form_with model: @task, class: :form, local: true do |form| %>
      <%= form.text_field :content, placeholder: :タスクの編集, class: :form__content %>
    <% end %>
  </div>
  <div class = "task__delete__btm">
  </div>
</div>