<div class = "task">
  <div class = "task_delate_btn">
    ○
  </div>
  <div class = "task_content">
    <%= link_to task.content, task %>
  </div>
  <div class = "task_deadline">
    期限: <%= task.deadline %>
  </div>
  <div class = "task_priority">
    <%= task.priority %>
  </div>
</div>