<div class = "task">
  <div class = "task_delate_btn">
    ○
  </div>
  <div class = "task_content">
    <%= link_to task.content, task %>
  </div>
  <div class = "task_date">
    投稿日時: <%= task.created_at %>
  </div>
</div>