<div class = "taskContent">
  <%= @task.content%>
</div>
<div class = "postDate">
  <%= @task.created_at %>
</div>
<div class="taskManage">
  <%= link_to "編集", edit_task_path(@task.id), class: "taskManage__edit" %>
  <%= link_to "削除", task_path(@task.id), method: :delete, class: "taskManage__delete" %>
</div>