.left-bar {
  width: calc(100% - 79%);
  height: 100vh;
  float: left;
  .header {
    height: calc(100% - 93%);
    padding-left: 10px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    border-bottom: 0.5px solid #f5f5f5;
    &__user-name {
      font-size: 16px;
      font-weight: bold;
      padding-left: 10px;
      color: #333333;
    }
  }
  .main {
    height: calc(100% - 7%);
    background-color: #cccccc;
    padding-top: 15px;
  }
  .priority {
    margin-left: 5px;
    &__list {
      margin: 30px 40px;
      &-star {
        padding: 10px;
      }
      &-name {
        font-size: 13px;
        color: #333333;
        text-align: left;
        font-weight:normal;
      }
      &-count {
        font-size: 13px;
        color: #333333;
        padding-left: 22px;
        text-align: left;
        font-weight:normal;
      }
      &-rate {
        font-size: 13px;
        color: #333333;
        padding-left: 13px;
        text-align: right;
        font-weight:normal;
      }
      .icon01 {
        color: #FF3333;
      }
      .icon02 {
        color: #FF6633;
      }
      .icon03 {
        color: #66CCFF;
      }
      .icon04 {
        color: #9933FF;
      }
    }
  }
}