.main__bar {
  width: calc(100vw - 21%);
  height: 100vh;
  float: left;
  &__header {
    height: calc(100% - 93%);
    margin: 0 10px;
  }
  &__body {
    height: calc(100% - 19%);
    overflow: scroll;
    background-image:image-url("/assets/photoc.jpeg");
    background-size: cover;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    padding-top: 22px;
  }
  &__hooter {
    height: calc(100% - 88%);
    background-color: #eeeeee;
  }
}
.add__task{
  width: 90%;
  border: 1px solid;
  width: 97%;
  height: 46px;
  margin-left: 18px;
  margin-top: 13px;
  padding-left: 8px;
}
li {
  background-color: #f5f5f5;
}